@model tst_MVC1.Models.tstTable
@{
    Layout = null;
    ViewBag.Title = "Şifre Değiştir";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sign Up</title>
    <!--favicon-->
    <link rel="icon" href="~/assets/images/favicon.ico" type="image/x-icon">
    <!-- Bootstrap core CSS-->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" />
    <!-- animate CSS-->
    <link href="~/assets/css/animate.css" rel="stylesheet" type="text/css" />
    <!-- Icons CSS-->
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <!-- Custom Style-->
    <link href="~/assets/css/app-style.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <!-- start loader -->
    <div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner"><div class="loader"></div></div></div></div>
    <!-- end loader -->
    <!-- Start wrapper-->
    <div id="wrapper">

        <div class="loader-wrapper"><div class="lds-ring"></div></div>
        <div class="card card-authentication1 mx-auto my-5">
            <div class="card-body">
                <div class="card-content p-2">
                    @using (Html.BeginForm("PasswordChange", "Client", FormMethod.Post))
                    {
                        <div class="text-center">
                            <img src="~/assets/images/logo-icon.png" alt="logo icon">
                        </div>

                        <div class="card-title text-uppercase text-center py-3">Kayıt Ol</div>
                        <form>

                            <div class="form-group">
                                <label for="passwordInput" class="sr-only">Password</label>
                                <div class="position-relative has-icon-right">
                                    <input type="password" id="passwordInput" name="Epassword" class="form-control input-shadow" placeholder="Şifre Giriniz">
                                    <div class="form-control-position">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passwordInput" class="sr-only">Password</label>
                                <div class="position-relative has-icon-right">
                                    <input type="password" id="passwordInput" name="Ypassword" class="form-control input-shadow" placeholder="Şifre Giriniz">
                                    <div class="form-control-position">
                                        <i class="icon-lock"></i>
                                    </div>
                                </div>
                            </div>

                            <button type="submit" onclick="alert" class="btn btn-primary btn-block" value="SignUp">Kayıt Ol</button>
                        </form>
                    }
                </div>
            </div>
        </div>
        <!--Start Back To Top Button-->
        <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
        <!--End Back To Top Button-->
    </div><!--wrapper-->
    <!-- Bootstrap core JavaScript-->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>

    <!-- sidebar-menu js -->
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- Custom scripts -->
    <script src="~/assets/js/app-script.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
</body>
</html>
